<template>
  <router-link to="/carrito">

    <v-btn
      fab
      fixed
      bottom
      right
      color="secondary"
      href=""
      target="_blank"
      rel="noopener"
      @click.native="showPopupCart()"
    >

        <v-icon>mdi-cart</v-icon>

    </v-btn>


  </router-link>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex';
    import Mask from "../Mask";
    import Popupcart from "../Popupcart";

    export default {
        name: 'Cta',
        components: {
            Mask, Popupcart
        },
        methods: {
            ...mapActions([
                'showOrHiddenPopupCart',
            ]),
            hasProduct() {
                return this.getProductsInCart.length > 0;
            },
            showPopupCart() {
                console.log('agregando');
                this.showOrHiddenPopupCart();
            },
        },
        computed: {
            ...mapGetters([
                'getProductsInCart',
                'getPopupCart',
            ]),
        },
    };
</script>
<style>
  /*@import '././ /assets/css/normalize.css';*/
  @import url('https://fonts.googleapis.com/css?family=Roboto');

  body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
  }

  a {
    color: #000;
    text-decoration: none;
  }

  .container {
    width: 100%;
  }

  .cart {
    position: absolute;
    top: 75px;
    right: 300px;
  }

  .btn-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .leave-enter-active, .leave-leave-active {
    transition: all 1.2s;
  }

  .leave-enter, .leave-leave-to {
    opacity: 0;
    transform: translateX(-50%);
  }

  .appear-enter-active {
    animation: appear-animation .5s;
  }

  .appear-leave-active {
    animation: appear-animation .5s reverse;
  }

  @keyframes appear-animation {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
</style>
