<template>
  <v-container
    id="about"
    tag="section"
  >
    <section>
      <div class="row contenedor-contenido">
        <div style="text-align: center;">
          <span style="font-size:20px;"><strong><span
            style="font-family:arial,helvetica,sans-serif;">Quienes somos ?</span></strong></span></div>
        <div style="text-align: center;">
          &nbsp;
        </div>
        <div style="text-align: center;">
          <span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:18px;">La Pietá es una marca de accesorios femeninos colombiana que busca resaltar la belleza de la mujer mediante piezas elaboradas a mano.&nbsp;&nbsp;</span></span>
        </div>
        <div style="text-align: center;">
          <span
            style="color: rgb(139, 139, 139); font-family: Raleway, Helvetica, Arial, sans-serif; font-size: 12px; letter-spacing: 0.2px; background-color: rgb(255, 255, 255);">&nbsp;</span>
        </div>
        <div style="text-align: center;">
          <strong><span style="font-family:arial,helvetica,sans-serif;"><span
            style="font-size:20px;">Nuestra Historia ?</span></span></strong></div>
        <div style="text-align: center;">
          &nbsp;
        </div>
        <div style="text-align: center;">
          <span style="font-size:18px;"><span style="font-family:arial,helvetica,sans-serif;">Nuestra empresa nace a partir de la necesidad de ofrecerles a las mujeres la posibilidad de encontrar accesorios para cada ocasión, dejándonos inspirar por las tendencias que están el mercado, imprimiéndole el toque sofisticado y elegante que representa a la marca. La Pietá quiere que cada mujer que utilice sus productos se sienta única y bella.</span></span>
        </div>
        <div style="text-align: center;">
          &nbsp;
        </div>
        <div style="text-align: center;">
          &nbsp;
        </div>
      </div>
    </section>
  </v-container>
</template>

