<template>
  <v-container>

    <about />

    <subscribe />

    <social />
  </v-container>
</template>

<script>
    import About from '../components/acercade/About'

    export default {
        name: "AcercaDe",
        components: {
            About: () => import('@/components/acercade/About'),
            Social: () => import('@/components/acercade/Social'),
            Subscribe: () => import('@/components/acercade/Subscribe')
        }

    }
</script>

<style scoped>

</style>
