<template>
  <div>
      <v-container


      >

        <v-col md="5">
            <v-card class="elevation-12 mb-6">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Login </v-toolbar-title>
                <v-spacer />

              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Login"
                    name="login"
                    prepend-icon="mdi-account"
                    type="text"
                  />

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary">Login</v-btn>
              </v-card-actions>
            </v-card>
        </v-col>
      </v-container>
 </div>
</template>

<script>
    export default {
        props: {
            source: String,
        },
    }
</script>
