<template>
  <v-flex
    xs12
    :class="classes"
    id="articulo"
  >
    <base-card
      :height="value.prominent ? 450 : 350"
      color="grey lighten-1"
      dark
      href="#!"
      class="contenedor"
    >
      <v-img
        :src="require(`@/assets/articles/lapieta/${value.category}/${value.hero}`)"
        height="100%"
        class="articulo"
      >
        <v-layout
          v-if="!value.prominent"
          fill-height
          wrap
          text-xs-right
          ma-0
        >
          <v-flex xs12>
            <v-chip
              label
              class="mx-0 mb-2 text-uppercase"
              color="grey darken-3"
              text-color="primary"
              small
              @click.stop=""
            >
              {{ value.category }}
            </v-chip>
            <h3 class="title font-weight-bold text-no-wrap mb-2 text-example" @click.native="openModal()">
              {{ value.title }}
            </h3>
            <div class="caption text-example">
              {{ value.author }}<br>Date
            </div>
          </v-flex>
          <v-flex align-self-end>
            <v-chip
              class="text-uppercase ma-0"
              color="primary"
              label
              x-large
              @click.native="addProductToCart(value)"

            >
              <v-icon>mdi-cart-plus</v-icon>
              Comprar
            </v-chip>
          </v-flex>
        </v-layout>
      </v-img>
    </base-card>
  </v-flex>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        props: {
            size: {
                type: Number,
                required: true
            },
            value: {
                type: Object,
                default: () => ({})
            }
        },

        computed: {
            classes() {
                return {
                    'md6': this.size === 2,
                    'md4': this.size === 3
                }
            },

            ...mapGetters({
                currentProduct: 'getCurrentProduct',
            }),
        },
        methods: {
            ...mapActions([
                'addProduct',
                'showOrHiddenModal',
            ]),
            addProductToCart(product) {
                console.log('agregando');
                this.addProduct(product);
            },
            rated(rate) {
                return `${rate * 20}%`;
            },
            openModal() {
                this.showOrHiddenModal();
            },
        }
    }
</script>

<style >
  .contenedor:hover .articulo {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    filter: saturate(150%);

    box-shadow: 0px 0px 5px 5px rgba(203, 170, 92, 0.80);


  }

</style>
